/* ## OVERRIDES ## */
footer ul li {
  display: inline-block;
}
footer ul.links li a:hover {
    -webkit-transform: translate(1px, 0);
    -moz-transform: translate(1px, 0);
    -ms-transform: translate(1px, 0);
    -o-transform: translate(1px, 0);
    transform: translate(1px, 0);
}
footer ul.links li a:after {
  display: none !important;
}
.top-menu {
  background: #fff;
  padding: 10px 0;
  height: 57px;
}
a.btn_add, .btn_add {
  background-color: #004dda;
}
ul#top_menu li a.account, ul#top_menu li a.search {
  width: 25px;
  margin-top: 3px;
}
ul#top_menu li a.account:before {
  content: "\e602";
  font-family: 'themify';
  font-size: 21px;
  font-size: 1.3125rem;
  text-indent: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  line-height: 1;
}
ul#top_menu li a.search:before {
  content: "\e610";
  font-family: 'themify';
  font-size: 21px;
  font-size: 1.3125rem;
  text-indent: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  line-height: 1;
}
.cat_star i {
    margin-right: 2px;
    color: #FFC107;
    font-size: 22px;
}
.Poor {
  background-color: #ef5350 !important;
}
.br-current-rating {
  display: none !important;
}
.post_info p {
  margin-bottom: 16px;
}
.hero_in.hotels_detail {
    height: 250px;
}
.hero_in a.btn_photos {
  position: relative;
  height: 35px;
}
.hero-container {
  display: flex;
  height: 100%;
}
.hero_in .detail_title_1 h1{
  color: #fff;
}
.hero_in .detail_title_1 .address {
  color: #eceff1
}
.hero_in.hotels_detail .wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}
.booking a {
  color: #212121;
}
.booking a:hover {
  color: #007bff;
}
.booking .icon {
  margin-right: 20px;
}
.booking p {
  margin-bottom: 15px;
  font-size: 16px;
}
.tag {
  background: #f5f5f5;
  padding: 4px 20px;
  border-radius: 5px;
  color: #212121;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
  border: solid 1px lightgrey;
}
.box_detail .price > span {
  font-size: 18px;
}
.search-bar {
  padding: 20px 0;
  color: #fff;
  background: #004dda;
  position: relative;
  z-index: 999 !important;
}
.search-bar h4 {
    color: #fff;
    margin: 12px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
    font-size: 1rem;
}
.strip figure .read_more span {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.w-100 .nice-select {
  width: inherit;
}
.box_general .nice-select {
  border: 1px solid #ededed;
  border-radius: 3px;
}
.dropzone .dz-default.dz-message span {
  color: #004dda !important;
}
.header_box {
  padding-bottom: 10px;
}
.header_box.version_2 {
  border-bottom: 1px solid #ededed;
  margin: 0 -30px;
  padding: 0 30px 10px 30px;
  margin-bottom: 15px;
}
.header_box.version_2 i {
  margin-right: 10px;
  color: #ddd;
}
.header_box h2 {
  font-size: 21px;
  font-size: 1.3125rem;
  display: inline-block;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .search-bar {
    display: none;
  }
  .hero_in.hotels_detail {
      height: 350px;
  }
  .h-sm-50 {
    height: 50%;
  }
}
@media (max-width: 576px) {
  #login, #signup {
    padding: 0px;
  }
  #login aside, #signup aside {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  #logo {
    text-align: center;
  }
}
