/* ## OVERRIDES ## */
footer ul li {
  display: inline-block;
}
footer ul.links li a:hover {
    -webkit-transform: translate(1px, 0);
    -moz-transform: translate(1px, 0);
    -ms-transform: translate(1px, 0);
    -o-transform: translate(1px, 0);
    transform: translate(1px, 0);
}
footer ul.links li a:after {
  display: none !important;
}
.top-menu {
  background: #fff;
  padding: 10px 0;
  height: 57px;
}
a.btn_add, .btn_add {
  background-color: #004dda;
}
ul#top_menu li a.account {
  width: 25px;
  margin-top: 3px;
}
ul#top_menu li a.account:before {
  content: "\e602";
  font-family: 'themify';
  font-size: 21px;
  font-size: 1.3125rem;
  text-indent: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: normal;
  line-height: 1;
}
.cat_star {
  margin-bottom: 10px;
}
.cat_star i {
    margin-right: 2px;
    color: #FFC107;
    font-size: 22px;
}
.Poor {
  background-color: #ef5350 !important;
}
@media (max-width: 576px) {
  #login, #signup {
    padding: 0px;
  }
  #login aside, #signup aside {
    box-shadow: none;
  }
}
@media (max-width: 767px) {
  #logo {
    text-align: center;
  }
}
